
<h4>Artist Name: <%= @artist.name %></h4>
<h3>Artist Albums</h3>
  <% if @artist.albums %>
    <ul>
      <% @artist.albums.each do |album| %>
        <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
      <% end %>
    </ul>
    <% else %>
      <p>There are no albums listed for this artist yet.</p>
    <% end %>
<h4>Add an album:</h4>
<form action ="/artists/<%= @artist.id %>" method="post">
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input id="album_name" name="album_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add Album</button>
  </form>

<%# Album edit link %>
<button class="btn-success"><p><a href="/artists/<%= @artist.id %>/edit">Edit album</a></p></button>
